<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>
		FreshVotes Dashboard
		</title>
		<script th:replace="fragments/bootstrap :: headerElement"></script>
	</head>
	<body>
	<div th:replace="fragments/bootstrap :: header"></div>
	<div class="container" style="margin-top: 1.5em;" >
		<div class="row">
			<div class="col-8">
				<h1>FreshVotes Dashboard</h1>			
		
		
		</div>	
		<div class="row">
			<div class="col">
				<h2>Products</h2>
			</div>
		</div>
		
	
		<div class="row" th:each="product : ${products}">
			<div class="col-4">
				<ul class="list-group">
					<li class="list-group-item">
				 		<a th:href="@{products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
					</li>
				</ul>
			</div>			
		</div>
	
		
		<div class="row" style="margin-top: 2em">
			<div class="col">
				<form action="/products" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button type="submit" class="btn btn-primary" id="createAProduct">Create a Product</button>							
				</form>
			</div>
		</div>
		
	</div>
	</body>
</html>