<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>
		FreshVotes Dashboard
		</title>
		<script th:replace="fragments/bootstrap :: headerElement"></script>
	</head>
	<body>
	<div th:replace="fragments/bootstrap :: header"></div>
	<div class="container" style="margin-top: 1.5em;" >
		<div class="row">
			<div class="col-8">
				<h1>FreshVotes Dashboard</h1>			
		
		
		</div>	

		<!-- <div class="row" th:each="product : ${products}">
			<div class="col-4">
				<ul class="list-group">
					<li class="list-group-item">
				 		<a th:href="@{p/{productName}(productName=${product.name})}" th:text="${product.name}"></a>
					</li>
				</ul>
			</div>			
		</div> -->

		<div class="card" th:each="product: ${products}" style="margin: 1em;">
			<div class="card-body" >
				<h5 class="card-title" th:text="${product.name}">Card title</h5>
				<h6 class="card-subtitle mb-2 text-body-secondary" th:text="${product.published ? 'Published' : 'Not Published'}">Card subtitle</h6>
				<a th:href="@{products/{productId}(productId=${product.id})}" class="btn btn-info">Edit</a>
				<a th:href="@{p/{productName}(productName=${product.name})}" class="btn btn-info">View Feature Request</a>
			  </div>

		</div>
	
		
		<div class="row" style="margin-top: 2em; margin-bottom: 2em;">
			<div class="col">
				<form action="/products" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button type="submit" class="btn btn-primary" id="createAProduct">Create a Product</button>							
				</form>
			</div>
		</div>
		
	</div>
	</div>
	</body>
</html>